/*---------- Full Body Styling ----------*/

body {
  font-family: 'Eczar', serif;
  background-image: url("../images/pink-dust.png")
}


html,
body,
.container-fluid,
#row1,
#gif-column,
#sub-row2 {
  height: 100%
}

/*---------- Sidebar Styling ----------*/

#button-column {
  height: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#sidebar {
  position: fixed;
  top: 200px;
  left: 20px;
  margin: auto;
  width: 300px;
  text-align: center;
  vertical-align: center;
  padding: 20px;
  border-radius: 20px;
}

#button-holder {
  overflow: scroll;
  height: 200px;
  width: 100%;
  border: 1px #368F8B solid;
  border-radius: 20px
}

#sidebar::after {
  content: "";
  background-color: white;
  opacity: .5;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 20px;
}

label {
  margin-top: 5px;
  font-weight: bold;
  font-size: 16px;
}

input,
input:checked,
input:focus {
  border: 2px teal solid;
  box-shadow: none;
  border-radius: 20px;
}

#submit-button {
  margin: 5px;
  background-color: #368F8B;
  color: white;
  border: white 1px solid;
  display: inline-block;
}

#submit-button:hover {
  background-color: white;
  color: #368F8B;
  border: #368F8B 1px solid;
  transform: scale(1.1)
}

.gif-button {
  margin: 5px;
  padding: 5px;
  display: inline-block;
  border-radius: 4px;
  color: white;
  background-color:  #368F8B;
  box-shadow: 4px 4px 5px #888888;
  border: white 1px solid;
  
}

.gif-button:hover {
  background-color: white;
  color: #368F8B;
  border: #368F8B 1px solid;  
}


/*---------- Gif Column Styling ----------*/

#gif-column {
  margin-top: 20px;
  margin-bottom: 20px;
}

#gifs {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.gif {
  height: 222px;
  width: 296px;
  position: absolute;
  top: 161px;
  left: 48px;
  right: 104px;
  bottom: 55px;
}

.rating {
  position: absolute;
  top: 54px;
  left: 0px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  border: #368F8B solid 1px;
}

.gif-holder {
  height: 430px;
  width: 444px;
  background-image: url("../images/tv-clipart.png");
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  position: relative;
}


/*---------- Media Queries ----------*/

@media screen and (max-width: 1200px) {
  #sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 25;
  }

  #button-holder {
    height: 60px !important;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: none;
    white-space: nowrap;
    display: inline-block;
    height: auto;
  }

  #gif-column {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
  }


}